@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./tokens.css";

.btn {
  @apply inline-flex items-center justify-center gap-2 px-4 py-2 rounded text-sm font-medium;
}

/** TOFIX needs to provide all bg-* classes */
.bg-primary-500 {
  background-color: var(--color-warning-600);
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
